body{
  background-color: #D0E0C0 ;
}
#main{
  width:960px;
  margin:40px auto;
  padding:40px 80px;
  border:green 1px solid;
  background-color:white;
}
#ingredient{
  border:2px solid lightcoral;
  border-collapse:collapse;
}
th,td{
  border:1px solid lightcoral;
}
caption{
  padding:5px;
}
#price{
  background-color:lightcoral;
}
thead th,tfoot th{
  background-color:white;
}
thead td{
  color:white;
  background-color:lightcoral;
  text-align:center;
}
tfoot td{
  font-weight:bold;
  background-color:white;
}
